@model IEnumerable<cadastro_de_dev.Models.DesenvolvedorLinguagem>

@{
    ViewData["Title"] = "Lista de linguagens por desenvolvedor";
}

<style>
    * {
        margin: 0;
        border: 0;
        padding: 0;
    }

    .bottom {
        margin: 0 10px 0 10px;
    }

    a, a:link, a:hover, a:visited {
        text-decoration: none;
    }

    ul, ol, li {
        list-style: none;
    }

    body {
        background-color: #212121;
    }

    span, li, h1, button, a {
        font-family: Arial, Helvetica, sans-serif;
        color: #ffff;
        font-size: 16px;
        font-weight: 500;
    }

    span, li, button, a {
        font-size: 16px;
        font-weight: 500;
    }

    h1 {
        font-size: 22px;
        font-weight: 700;
    }

    li {
        margin: 0 0 0 10px;
    }

    tr, td {
        color: white;
    }

    .table-center {
        border-collapse: separate;
        border-spacing: 50px 10px;
    }

    .global-list {
        margin: 60px auto;
    }

    .dev-info {
        border: 2px solid #d1cece;
        width: 100%;
        padding: 20px 10px;
    }

        .dev-info:not(#fist-dev) {
            margin: 40px 0 0 0;
        }

    button {
        background-color: #24B32B;
        padding: 10px 20px;
        margin-bottom: 10px;
    }

    a:hover {
        color: #ffffff;
    }

    @@media screen and (min-width: 500px) {
        .global-list {
            width: 500px;
        }

        input {
            width: 680px;
        }
    }
</style>
<div class="global-list">
    <h1 style="text-align:center; font-size:x-large">
        LINGUAGENS POR DESENVOLVEDORES
    </h1>
    <div id="first-dev" class="dev-info">
        <div class="text-center">
            <table class="table-center">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Desenvolvedor)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Linguagem)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Desenvolvedor.Nome)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Linguagem.NomeLinguagem)
                        </td>
                        <td>
                            <a asp-action="Details" asp-route-id="@item.DesenvolvedorLinguagemID">Detalhes</a> |
                            <a asp-action="Edit" asp-route-id="@item.DesenvolvedorLinguagemID">Editar</a> |
                            <a asp-action="Delete" asp-route-id="@item.DesenvolvedorLinguagemID">Excluir</a>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

    <div class="mt-4 text-center">
        <button class="bottom">
            <a asp-area="" asp-controller="DesenvolvedorLinguagem" asp-action="Create">
                Atribuir Nova Linguagem a Desenvolvedor
            </a>
        </button>
        <button class="bottom">
            <a asp-area="" asp-controller="Desenvolvedor" asp-action="Index">
                Voltar
            </a>
        </button>
    </div>
</div>